.container{
    text-align: center;
    border: 5px solid;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    border-radius: 100px;
    padding: 5rem;

    margin-top: 150px;
}
.form-group{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}

.btn btn-success{
    text-align: center;
    color: red;
}




